<%- include('../partials/head') %>
<div class="container">
    <h1>Comments</h1>
    <ul>
        <% for(let c of comments){  %>
        <li>
            <%=c.comment%> - <b><%=c.username%></b>
            <a href="/comments/<%= c.id %>">details</a>
        </li>
        <% } %>
    </ul>
    <a type="button" href="/comments/new" class="btn btn-primary">Add New Comment</a>
</div>

<%- include('../partials/footer') %>