<%- include('../partials/head') %>

<div class="container">
    <h1>Comment ID: <%= comment.id %></h1>
    <h2><%= comment.comment %> - <b><%= comment.username %> </b></h2>
    <a href="/comments" class="btn btn-danger">Back to comments</a>
    <a href="/comments/<%= comment.id %>/edit" class="btn btn-danger">Edit Comment</a>
</div>

<%- include('../partials/footer') %>